body 
{
      font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
      background: white; /* Цвет фона */
      color: black; /* Цвет текста */
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
}
html
{
      height: 100%;
}
body header
{
      background: #87cefa;
      height: 100px;
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      top: 0;
      flex: 0 0 auto;
}
table
{
      border: 0;
      border-collapse: collapse;
}
td
{
      padding: 0px;
      border: 0px;
}
nav>a
{
      font-size: 16px;
      margin-right: 10px;
}
footer
{
      width: 100%;
      height: 200px;
      flex: 0 0 auto;
      background: #87cefa;
}
main 
{
      flex: 1 0 auto;
}
.maininfo
{
      width: 60%;
      height: 100%;
      float: left;
      background: white;
}
.maininfo a
{
      color: black;
}
.mainside
{
      width: 40%;
      height: 100%;
      float: right;
      background: #ddd;
}
.container
{
      width: 100%;
      height: 200px;
      margin: 0 auto;
}
.contact
{
      width: 20%; 
      height: 200px; 
      display: inline-block;
      vertical-align: top;
}
.logos
{
      width: 40%;
      height: 200px;
      font-size: 2em;/*размер иконок*/
      color: white;/*цвет иконок*/
      margin: 0 10px;
      display: inline-block;/*отображать как строчно-блочный элемент*/
      transition: 0.5s;/*плавный переход*/
}
.logos li
{
      list-style: none;
}
.sitemap
{
      width: 35%;
      text-align: right;
      height: 200px;
      display: inline-block;
      background-size: cover;
      vertical-align: top;
}
.sitemap ul
{
      font-size: 16px;
}
a {
  text-decoration: none;
  color: white;
}
.sitemap A:hover
{
      font-size: 30px;
      color: blue;
}
.tabs a span 
{ 
      display: inline-block;
      border-radius: 5px 5px 0 0; width: 100px;
      margin-left: 10px; text-align: center;
      background: #fff; padding: 5px;
      color: #000; cursor: pointer;
}
.tabs a span.active 
{ 
      background: #004EA6;
      color: #fff;
      font-size: 30px;
}
.tabs a span.hover 
{
      background: #0077FF; 
      color: blue;
      font-size: 30px;
}
.content 
{ border: 1px solid silver;
      border-radius: 5px;
}
.content-active 
{
      border: 1px solid #004EA6; border-radius: 5px;
}
.inputStyle 
{ 
      border-radius: 3px;
      height: 25px; margin-left: 10px;
      margin-top: 10px; margin-bottom: 10px;
      width: 363px;
}
.buttonStyle 
{ 
      margin-bottom: 10px; width: 100px;
      height: 25px; cursor: pointer;
      margin-left: 279px; background: #fff;
      border-radius: 5px;
}
.buttonStyle:hover 
{
      background: #0077FF; color: #fff;
}
.buttonStyle:active 
{ 
      background: #004EA6;
      color: #fff;
}
.showPictures {
	border: 1px solid silver;
	width: 90%;
	height: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	margin-left: 5%;
}
.clear {
	clear: both;
	float: left;
}
.buttonStyle {
	font-family: Comic Sans MS;
	margin-bottom: 10px;
	width: 100px;
	height: 25px;
	cursor: pointer;
	margin-left: 279px;
	background: #fff;
	border-radius: 5px;
}
#fieldForTagsOfOicture {
	border-radius: 3px;
	height: 25px;
	width: 363px;
	font-family: Comic Sans MS;
	margin-top: 10px;
	margin-left: 6%;
}
#newPicture {
	margin-top: 10px;
	margin-left: 100px;
}