body 
{
      font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
      background: white; /* Цвет фона */
      color: black; /* Цвет текста */
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
}
html
{
      height: 100%;
}
body header
{
      background: #87cefa;
      height: 100px;
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      top: 0;
      flex: 0 0 auto;
}
table
{
      border: 0;
      border-collapse: collapse;
}
td
{
      padding: 0px;
      border: 0px;
}
nav>a
{
      font-size: 16px;
      margin-right: 10px;
}
footer
{
      width: 100%;
      height: 200px;
      flex: 0 0 auto;
      background: #87cefa;
}
main 
{
      flex: 1 0 auto;
}
.maininfo
{
      width: 60%;
      height: 100%;
      float: left;
      background: #ccc;
}
.mainside
{
      width: 40%;
      height: 100%;
      float: right;
      background: #ddd;
}
.container
{
      width: 100%;
      height: 200px;
      margin: 0 auto;
}
.contact
{
      width: 20%; 
      height: 200px; 
      display: inline-block;
      vertical-align: top;
}
.logos
{
      width: 40%;
      height: 200px;
      font-size: 2em;/*размер иконок*/
      color: white;/*цвет иконок*/
      margin: 0 10px;
      display: inline-block;/*отображать как строчно-блочный элемент*/
      transition: 0.5s;/*плавный переход*/
}
.logos li
{
      list-style: none;
}
.sitemap
{
      width: 35%;
      text-align: right;
      height: 200px;
      display: inline-block;
      background-size: cover;
      vertical-align: top;
}
.sitemap ul
{
      font-size: 16px;
}
a {
  text-decoration: none;
  color: white;
}
.sitemap A:hover
{
      font-size: 30px;
      color: blue;
}
